<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-sm-2 control-label">
      <%= f.label :title %>
    </label>
    <div class="col-sm-10">
      <%= f.text_field :title %>
    </div>
  </div>
  <br>
  <hr>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">
      <%= f.label :body %>
    </label>
    <div class="col-sm-10">
      <%= f.text_area :body %>
    </div>
  </div>

  <br>
  <hr>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
