  <p id="notice" dir="rtl"><%= notice %></p>
    <h1 dir="rtl"><%= t('blogname') %></h1>
    <table class="table table-hover" dir="rtl">
      <thead>
        <tr>
          <th>عنوان المقالة</th>
          <th>نص المقالة</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @blogs.each do |blog| %>
          <tr>
            <td><%= blog.title %></td>
            <td><%= blog.body %></td>
            <td><%= link_to 'عرض', blog %></td>
            <td><%= link_to 'تحرير', edit_blog_path(blog) %></td>
            <td><%= link_to 'حذف', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <button type="button"><%= link_to 'مقالة جديدة', new_blog_path %></button>
<hr>