<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"><%= t('company.name') %></div>
        <p><%= t('company.intro') %></p>
        <p><i class="fa fa-map-pin"></i><%= t('company.address') %></p>
        <p><i class="fa fa-phone"></i><%= t('company.telephone1') %></p>
        <p><i class="fa fa-envelope"></i><%= t('company.email') %></p>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7"><%= t('footermenu.header') %></h6>
        <ul class="footer-ul">
          <li><a href="#"><%= t('footermenu.header') %></a></li>
          <li><a href="#"><%= t('footermenu.career') %></a></li>
          <li><a href="#"><%= t('footermenu.policy') %></a></li>
          <li><a href="#"><%= t('footermenu.terms') %></a></li>
          <li><a href="#"><%= t('footermenu.faqs') %></a></li>
          <li><a href="#"><%= t('footermenu.stories') %></a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Latest News</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/horizonseducate/" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/horizonseducate/"><a href="https://www.facebook.com/horizonseducate/">Facebook</a></blockquote>
            <blockquote cite="https://twitter.com/horizons_edu"><a href="https://twitter.com/horizons_edu">Twitter</a></blockquote>
            <blockquote cite="https://www.youtube.com/channel/UC6U4KPZ_Ggte5NBa9OuxbwQ"><a href="https://www.youtube.com/channel/UC6U4KPZ_Ggte5NBa9OuxbwQ">Youtube</a></blockquote>
            <blockquote cite="https://www.linkedin.com/company/10289548?trk"><a href="https://www.linkedin.com/company/10289548?trk">Linkedin</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p><small>© 2017 - All Rights with Horizons as member of MH Group</small></p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">mh-grup.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>