<!DOCTYPE html>
<html lang="en">
<%= render 'shared/header' %>    
  <body>
  <%= render 'shared/nav' %>  
  
    <div class="container">
          <%= bootstrap_flash %>
          <%= yield %>
    </div> <!-- /container -->
    
  <%= render 'shared/footer' %>    
  </body>
</html>
